@import url(../styles/layout.css);
@import url(../styles/base.css);

.prefix .timestampbefore {
	display: none;
}

.prefix .sender {
	display: inline;
}

.prefix .timestampafter {
	display: none;
}

.incoming .prefix {
	color: #FF66CC;
}

.outgoing .prefix
{
	color: #993399;
}

.incoming.context .prefix {
	color: #FF66CC;
}

.outgoing.context .prefix {
	color: #993399;
}

.context .messagebody, .context .nextmessagebody {
	color: #454642;
	background-color: #FFFFFF;
}

.status_message {
	text-align: center;
	font: 9px "Lucida Grande";
	color: #454642;
}