
/* @group outgoing */

.outgoing .history {
	color: #586bb1;
}

.outgoing .compact .cnbody {
	border-top: 1px dotted #8cb4ff;
}

.outgoing .message .bottomleft {
	background-image: url("../../images/glass-blue/bottomleft-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #9ca0c0;
}
.outgoing .message .topleft {
	background: url("../../images/glass-blue/topleft.png") top left no-repeat;
}
.outgoing .message .top {
	background: url("../../images/glass-blue/top.png") top right repeat-x;
}
.outgoing .message .topright {
	background: url("../../images/glass-blue/topright.png") top right no-repeat;
}
.outgoing .message .left {
	background: url("../../images/glass-blue/left.png") top left repeat-y;
}
.outgoing .message .middle {
	background: url("../../images/glass-blue/middle.png") top left repeat;
}
.outgoing .message .right {
	background: url("../../images/glass-blue/right.png") top right repeat-y;
}
/*.outgoing .message .bottomleft {
	background: url("../../images/glass-blue/bottomleft.png") bottom left no-repeat;
}*/
.outgoing .message .bottom {
	background: url("../../images/glass-blue/bottom.png") bottom right repeat-x;
}
.outgoing .message .bottomright {
	background: url("../../images/glass-blue/bottomright.png") bottom right no-repeat;
}

/* @end */

/* @end */
