
/* @group incoming */

.incoming .history {
	color: #92c9c9;
}

.incoming .compact .cnbody {
	border-top: 1px dotted #5beffc;
}

.incoming .message .bottomright {
	background-image: url("../../images/glass-cyan/bottomright-arrow.png");
}

/* @group message */

.incoming .message .time {
	color: #a1e2e7;
}
.incoming .message .topleft {
	background: url("../../images/glass-cyan/topleft.png") top left no-repeat;
}
.incoming .message .top {
	background: url("../../images/glass-cyan/top.png") top right repeat-x;
}
.incoming .message .topright {
	background: url("../../images/glass-cyan/topright.png") top right no-repeat;
}
.incoming .message .left {
	background: url("../../images/glass-cyan/left.png") top left repeat-y;
}
.incoming .message .middle {
	background: url("../../images/glass-cyan/middle.png") top left repeat;
}
.incoming .message .right {
	background: url("../../images/glass-cyan/right.png") top right repeat-y;
}
.incoming .message .bottomleft {
	background: url("../../images/glass-cyan/bottomleft.png") bottom left no-repeat;
}
.incoming .message .bottom {
	background: url("../../images/glass-cyan/bottom.png") bottom right repeat-x;
}
/*.incoming .message .bottomright {
	background: url("../../images/glass-cyan/bottomright.png") bottom right no-repeat;
}*/

/* @end */

/* @end */
