
/* @group outgoing */

.outgoing .history {
	color: #b19158;
}

.outgoing .compact .cnbody {
	border-top: 1px dotted #ffef00;
}

.outgoing .message .bottomright {
	background-image: url("../../images/glass-yellow/bottomright-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #c6af7f;
}
.outgoing .message .topleft {
	background: url("../../images/glass-yellow/topleft.png") top left no-repeat;
}
.outgoing .message .top {
	background: url("../../images/glass-yellow/top.png") top right repeat-x;
}
.outgoing .message .topright {
	background: url("../../images/glass-yellow/topright.png") top right no-repeat;
}
.outgoing .message .left {
	background: url("../../images/glass-yellow/left.png") top left repeat-y;
}
.outgoing .message .middle {
	background: url("../../images/glass-yellow/middle.png") top left repeat;
}
.outgoing .message .right {
	background: url("../../images/glass-yellow/right.png") top right repeat-y;
}
.outgoing .message .bottomleft {
	background: url("../../images/glass-yellow/bottomleft.png") bottom left no-repeat;
}
.outgoing .message .bottom {
	background: url("../../images/glass-yellow/bottom.png") bottom right repeat-x;
}
/*.outgoing .message .bottomright {
	background: url("../../images/glass-yellow/bottomright.png") bottom right no-repeat;
}*/

/* @end */

/* @end */
