@import url("message_common.css");

.out.content .nameheader {
    background: url("../images/sender/sender_fill.png") top repeat-x;
    color: rgb(84,155,38);
    }
.out.context .nameheader {
    background: url("../images/sender/sender_context_fill.png") top repeat-x;
    color: rgb(84,155,38);
    }
.in.content .nameheader {
    background: url("../images/sender/sender_fill.png") top repeat-x;
    color: rgb(39,55,152);
    }
.in.context .nameheader {
    background: url("../images/sender/sender_context_fill.png") top repeat-x;
    color: rgb(39,55,152);
    }

.out.content .name {
    background: url("../images/sender/standard/sender_left.png") left top no-repeat;
    }
.out.context .name {
    background: url("../images/sender/standard/sender_context_left.png") left top no-repeat;
    }
.in.content .name {
    background: url("../images/sender/flipped/sender_right.png") right top no-repeat;
    }
.in.context .name {
    background: url("../images/sender/flipped/sender_context_right.png") right top no-repeat;
    }

.out.content .protocol {
    background: url("../images/sender/standard/green/sender_right.png") right top no-repeat;
    color: rgb(84,155,38);
    }
.out.context .protocol {
    background: url("../images/sender/standard/green/sender_context_right.png") right top no-repeat;
    color: rgb(84,155,38);
    }
.in.content .protocol {
    background: url("../images/sender/flipped/blue/sender_left.png") left top no-repeat;
    color: rgb(39,55,152);
    }
.in.context .protocol {
    background: url("../images/sender/flipped/blue/sender_context_left.png") left top no-repeat;
    color: rgb(39,55,152);
    }

.status {
    background: url("../images/status/purple/status_fill.png") top repeat-x;
    }
.statusmessage {
    background: url("../images/status/purple/status_left.png") left top no-repeat;
    }
.statustime {
    background: url("../images/status/purple/status_right.png") right top no-repeat;
    }
