/* @group header */

#header {
	height: 40px;
	text-shadow: #505050 0px 1px 2px;
}

#header_bar {
	background-image: url("../../images/_headers/glass.png");
	height: 40px;
}

#header_bar .left {
	font-size: 16px;
	letter-spacing: 0px;
	top: 6px;
	left: 10px;
}

#header_bar .right {
	font-size: 14px;
	letter-spacing: 0px;
	top: 7px;
	right: 10px;
}

/* @end */

