<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Satin Adium Message Style</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.satin.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Satin</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultBackgroundColor</key>
	<string>ffffff</string>
	<key>DefaultFontFamily</key>
	<string>Helvetica</string>
	<key>DefaultFontSize</key>
	<integer>10</integer>
	<key>DisplayNameForNoVariant</key>
	<string>GBO-Left Icon</string>
	<key>MessageViewVersion</key>
	<integer>1</integer>
	<key>ShowsUserIcons:Blue-Green-No Icon</key>
	<false/>
	<key>ShowsUserIcons:Green-Blue-No Icon</key>
	<false/>
</dict>
</plist>
