@import "base.css";

.container, .container_context {
	margin: 0px 0px 0px 48px;
}

.buddyicon_div_incoming {
	float:left;
}

.buddyicon_div_outgoing {
	float:left;
}

.arrow_incoming {
	left:32px;
	
	background: url("images/arrow.png");
}

.arrow_outgoing {
	left:32px;
	
	background: url("images/arrow.png");
}

.arrow_context_incoming {
	left:32px;
	
	background: url("images/context_arrow.png");
}

.arrow_context_outgoing {
	left:32px;
	
	background: url("images/context_arrow.png");
}