<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AdiumSetVersion</key>
    <integer>1</integer>
    <key>Emoticons</key>
    <dict>
      <key>1.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)</string>
          <string>:-)</string>
        </array>
        <key>Name</key>
        <string>happy</string>
      </dict>
      <key>10.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:P</string>
          <string>:p</string>
          <string>:-p</string>
          <string>:-P</string>
        </array>
        <key>Name</key>
        <string>tongue</string>
      </dict>
      <key>100.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)]</string>
        </array>
        <key>Name</key>
        <string>on the phone</string>
      </dict>
      <key>101.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-c</string>
        </array>
        <key>Name</key>
        <string>call me</string>
      </dict>
      <key>102.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>~X(</string>
        </array>
        <key>Name</key>
        <string>at wits' end</string>
      </dict>
      <key>103.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-h</string>
        </array>
        <key>Name</key>
        <string>wave</string>
      </dict>
      <key>104.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-t</string>
        </array>
        <key>Name</key>
        <string>time out</string>
      </dict>
      <key>105.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-&gt;</string>
        </array>
        <key>Name</key>
        <string>daydreaming</string>
      </dict>
      <key>106.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-??</string>
        </array>
        <key>Name</key>
        <string>I don't know</string>
      </dict>
      <key>107.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>%-(</string>
        </array>
        <key>Name</key>
        <string>not listening</string>
      </dict>
      <key>108.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:o3</string>
        </array>
        <key>Name</key>
        <string>puppy dog eyes</string>
      </dict>
      <key>11.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-*</string>
          <string>:*</string>
        </array>
        <key>Name</key>
        <string>kiss</string>
      </dict>
      <key>12.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=((</string>
        </array>
        <key>Name</key>
        <string>broken heart</string>
      </dict>
      <key>13.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-O</string>
          <string>:O</string>
        </array>
        <key>Name</key>
        <string>surprise</string>
      </dict>
      <key>14.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>X(</string>
        </array>
        <key>Name</key>
        <string>angry</string>
      </dict>
      <key>15.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:&gt;</string>
        </array>
        <key>Name</key>
        <string>smug</string>
      </dict>
      <key>16.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>B-)</string>
        </array>
        <key>Name</key>
        <string>cool</string>
      </dict>
      <key>17.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-S</string>
        </array>
        <key>Name</key>
        <string>worried</string>
      </dict>
      <key>18.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>#:-S</string>
          <string>#:-s</string>
        </array>
        <key>Name</key>
        <string>whew!</string>
      </dict>
      <key>19.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:)</string>
          <string>&gt;:-)</string>
        </array>
        <key>Name</key>
        <string>devil</string>
      </dict>
      <key>2.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:(</string>
          <string>:-(</string>
        </array>
        <key>Name</key>
        <string>sad</string>
      </dict>
      <key>20.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:((</string>
          <string>:-((</string>
          <string>:'(</string>
          <string>:'-(</string>
        </array>
        <key>Name</key>
        <string>crying</string>
      </dict>
      <key>21.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:))</string>
          <string>:-))</string>
        </array>
        <key>Name</key>
        <string>laughing</string>
      </dict>
      <key>22.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:|</string>
          <string>:-|</string>
        </array>
        <key>Name</key>
        <string>straight face</string>
      </dict>
      <key>23.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>/:)</string>
          <string>/:-)</string>
        </array>
        <key>Name</key>
        <string>raised eyebrow</string>
      </dict>
      <key>24.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=))</string>
        </array>
        <key>Name</key>
        <string>rolling on the floor</string>
      </dict>
      <key>25.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>O:-)</string>
          <string>O:)</string>
        </array>
        <key>Name</key>
        <string>angel</string>
      </dict>
      <key>26.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-B</string>
        </array>
        <key>Name</key>
        <string>nerd</string>
      </dict>
      <key>27.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=;</string>
        </array>
        <key>Name</key>
        <string>talk to the hand</string>
      </dict>
      <key>28.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>I-)</string>
        </array>
        <key>Name</key>
        <string>sleepy</string>
      </dict>
      <key>29.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-|</string>
        </array>
        <key>Name</key>
        <string>rolling eyes</string>
      </dict>
      <key>3.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;)</string>
          <string>;-)</string>
        </array>
        <key>Name</key>
        <string>winking</string>
      </dict>
      <key>30.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>L-)</string>
        </array>
        <key>Name</key>
        <string>loser</string>
      </dict>
      <key>31.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-&amp;</string>
        </array>
        <key>Name</key>
        <string>sick</string>
      </dict>
      <key>32.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-$</string>
        </array>
        <key>Name</key>
        <string>don't tell anyone</string>
      </dict>
      <key>33.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[-(</string>
        </array>
        <key>Name</key>
        <string>not talking</string>
      </dict>
      <key>34.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:O)</string>
        </array>
        <key>Name</key>
        <string>clown</string>
      </dict>
      <key>35.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-}</string>
        </array>
        <key>Name</key>
        <string>silly</string>
      </dict>
      <key>36.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&lt;:-P</string>
          <string>&lt;:-P</string>
        </array>
        <key>Name</key>
        <string>party</string>
      </dict>
      <key>37.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(:|</string>
        </array>
        <key>Name</key>
        <string>yawn</string>
      </dict>
      <key>38.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=P~</string>
        </array>
        <key>Name</key>
        <string>drooling</string>
      </dict>
      <key>39.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-?</string>
        </array>
        <key>Name</key>
        <string>thinking</string>
      </dict>
      <key>4.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:D</string>
          <string>:-D</string>
        </array>
        <key>Name</key>
        <string>big grin</string>
      </dict>
      <key>40.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>#-o</string>
          <string>#-O</string>
        </array>
        <key>Name</key>
        <string>d'oh</string>
      </dict>
      <key>41.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=D&gt;</string>
        </array>
        <key>Name</key>
        <string>applause</string>
      </dict>
      <key>42.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-SS</string>
          <string>:-ss</string>
        </array>
        <key>Name</key>
        <string>nailbiting</string>
      </dict>
      <key>43.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>@-)</string>
        </array>
        <key>Name</key>
        <string>hypnotized</string>
      </dict>
      <key>44.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:^o</string>
        </array>
        <key>Name</key>
        <string>liar</string>
      </dict>
      <key>45.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-w</string>
          <string>:-W</string>
        </array>
        <key>Name</key>
        <string>waiting</string>
      </dict>
      <key>46.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-&lt;</string>
        </array>
        <key>Name</key>
        <string>sigh</string>
      </dict>
      <key>47.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:P</string>
          <string>&gt;:p</string>
        </array>
        <key>Name</key>
        <string>phbbbbt</string>
      </dict>
      <key>48.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&lt;):)</string>
        </array>
        <key>Name</key>
        <string>cowboy</string>
      </dict>
      <key>49.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:@)</string>
        </array>
        <key>Name</key>
        <string>pig</string>
      </dict>
      <key>5.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;;)</string>
        </array>
        <key>Name</key>
        <string>batting eyelashes</string>
      </dict>
      <key>50.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>3:-O</string>
          <string>3:-o</string>
        </array>
        <key>Name</key>
        <string>cow</string>
      </dict>
      <key>51.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:(|)</string>
        </array>
        <key>Name</key>
        <string>monkey</string>
      </dict>
      <key>52.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>~:&gt;</string>
        </array>
        <key>Name</key>
        <string>chicken</string>
      </dict>
      <key>53.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>@};-</string>
        </array>
        <key>Name</key>
        <string>rose</string>
      </dict>
      <key>54.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>%%-</string>
        </array>
        <key>Name</key>
        <string>good luck</string>
      </dict>
      <key>55.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>**==</string>
        </array>
        <key>Name</key>
        <string>flag</string>
      </dict>
      <key>56.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(~~)</string>
        </array>
        <key>Name</key>
        <string>pumpkin</string>
      </dict>
      <key>57.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>~O)</string>
        </array>
        <key>Name</key>
        <string>coffee</string>
      </dict>
      <key>58.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>*-:)</string>
        </array>
        <key>Name</key>
        <string>idea</string>
      </dict>
      <key>59.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8-X</string>
        </array>
        <key>Name</key>
        <string>skull</string>
      </dict>
      <key>6.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:D&lt;</string>
        </array>
        <key>Name</key>
        <string>big hug</string>
      </dict>
      <key>60.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=:)</string>
        </array>
        <key>Name</key>
        <string>bug</string>
      </dict>
      <key>61.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;-)</string>
        </array>
        <key>Name</key>
        <string>alien</string>
      </dict>
      <key>62.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-L</string>
          <string>:L</string>
        </array>
        <key>Name</key>
        <string>frustrated</string>
      </dict>
      <key>63.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[-O&lt;</string>
        </array>
        <key>Name</key>
        <string>praying</string>
      </dict>
      <key>64.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>$-)</string>
        </array>
        <key>Name</key>
        <string>money eyes</string>
      </dict>
      <key>65.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-"</string>
        </array>
        <key>Name</key>
        <string>whistling</string>
      </dict>
      <key>66.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>b-(</string>
        </array>
        <key>Name</key>
        <string>feeling beat up</string>
      </dict>
      <key>67.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)&gt;-</string>
        </array>
        <key>Name</key>
        <string>peace sign</string>
      </dict>
      <key>68.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[-X</string>
        </array>
        <key>Name</key>
        <string>shame on you</string>
      </dict>
      <key>69.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>\:D/</string>
        </array>
        <key>Name</key>
        <string>dancing</string>
      </dict>
      <key>7.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-/</string>
          <string>:/</string>
        </array>
        <key>Name</key>
        <string>confused</string>
      </dict>
      <key>70.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:/</string>
        </array>
        <key>Name</key>
        <string>bring it on</string>
      </dict>
      <key>71.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;))</string>
        </array>
        <key>Name</key>
        <string>hee hee</string>
      </dict>
      <key>72.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o-&gt;</string>
        </array>
        <key>Name</key>
        <string>hiro</string>
      </dict>
      <key>73.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o=&gt;</string>
        </array>
        <key>Name</key>
        <string>billy</string>
      </dict>
      <key>74.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o-+</string>
        </array>
        <key>Name</key>
        <string>april</string>
      </dict>
      <key>75.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(%)</string>
        </array>
        <key>Name</key>
        <string>yin yang</string>
      </dict>
      <key>76.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-@</string>
        </array>
        <key>Name</key>
        <string>chatterbox</string>
      </dict>
      <key>77.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>^:)^</string>
        </array>
        <key>Name</key>
        <string>not worthy</string>
      </dict>
      <key>78.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-j</string>
        </array>
        <key>Name</key>
        <string>oh go on</string>
      </dict>
      <key>79.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>(*)</string>
        </array>
        <key>Name</key>
        <string>star</string>
      </dict>
      <key>8.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:x</string>
          <string>:X</string>
        </array>
        <key>Name</key>
        <string>love struck</string>
      </dict>
      <key>9.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:"&gt;</string>
        </array>
        <key>Name</key>
        <string>blushing</string>
      </dict>
      <key>109.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>X_X</string>
          <string>x_x</string>
        </array>
        <key>Name</key>
        <string>I don't want to see</string>
      </dict>
      <key>110.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:!!</string>
        </array>
        <key>Name</key>
        <string>hurry up!</string>
      </dict>
      <key>111.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>\m/</string>
        </array>
        <key>Name</key>
        <string>rock on!</string>
      </dict>
      <key>112.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-q</string>
        </array>
        <key>Name</key>
        <string>thumbs down</string>
      </dict>
      <key>113.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:-bd</string>
        </array>
        <key>Name</key>
        <string>thumbs up</string>
      </dict>
      <key>114.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>^#(^</string>
        </array>
        <key>Name</key>
        <string>it wasn't me</string>
      </dict>
      <key>pirate.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:ar!</string>
        </array>
        <key>Name</key>
        <string>pirate</string>
      </dict>
      <key>115.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:bz</string>
        </array>
        <key>Name</key>
        <string>bee</string>
      </dict>
      <key>transformer.gif</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>[..]</string>
        </array>
        <key>Name</key>
        <string>transformer</string>
      </dict>
    </dict>
    <key>Service Class</key>
    <string>Yahoo</string>
  </dict>
</plist>
