
    @import url("../base.css");


    /* Text shadows and text opacity of incoming/outgoing messages: */
    .incoming_row, .outgoing_row
    {
        color:					rgb(255, 255, 255);
        text-shadow: 0 1px 2px	rgb(  0,   0,   0);
    }


    /* Background colors of incoming/outgoing messages: */

    .incoming_row	{	background-color: #6C6C6C;	}
    .outgoing_row	{	background-color: #808EA1;	}


    /* Background colors of incoming/outgoing context messages: */

    .incoming_row_context
    {	color: #5A5A5A;
        background-color: #B9B9B9;
    }

    .outgoing_row_context
    {	color: #6D7887;
        background-color: #B3C1CC;
    }


    /* Color of links in incoming/outgoing messages */
    .message_incoming a, .message_incoming_context a
    {
        color: #6C6C6C;
    }
    .message_outgoing a, .message_outgoing_context a
    {
        color: #808EA1;
    }


    /* Color of incoming/outgoing timestamps */
    .incoming_row .timestamp, .outgoing_row .timestamp
    {
        color: #fff;
    }

    /* Status message colors: */
    .status_row
    {	color: #5D6F85;
        background-color: #D6E1EF;
    }

    /* Color for status message timestamp */
    .status_row .timestamp	{	color: #919191;		}
