<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry Face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>(¬_¬")</string>
			</array>
			<key>Name</key>
			<string>Angry Face</string>
		</dict>
		<key>VeryAngry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-O</string>
				<string>:@</string>
				<string>:-@</string>
				<string>(ò_ó)</string>
			</array>
			<key>Name</key>
			<string>Angry Scary</string>
		</dict>

		<key>Angel.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>"(^_^)"</string>
			</array>
			<key>Name</key>
			<string>Wings</string>
		</dict>

		<key>Blush.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
				<string>(n///n)</string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>Confused.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:S</string>
				<string>:-S</string>
				<string>:s</string>
				<string>:-s</string>
				<string>(.O.')</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string>(T_T)</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Foot In Mouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:!</string>
				<string>:|</string>
				<string>:-!</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Worried</string>
		</dict>
		<key>Frown.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string>(._.)</string>
				<string>(u_u)</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>Gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:o</string>
				<string>=-o</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>LargeGasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:O</string>
				<string>=O</string>
				<string>=-O</string>
				<string>:-O</string>
				<string>(OwO)</string>
				<string>(O_O)</string>
			</array>
			<key>Name</key>
			<string>Gasp Big</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string>(^O^)</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Halo.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>O:)</string>
				<string>o:-)</string>
				<string>o:)</string>
				<string>(*_*)</string>
				<string>(A)</string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>Heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(L)</string>
				<string>&lt;3</string>
				<string>(♥_♥)</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>Hot.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
				<string>(H)</string>
			</array>
			<key>Name</key>
			<string>Hot</string>
		</dict>
		<key>Kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
				<string>(K)</string>
				<string>)^o^(</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Lips are Sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:X</string>
				<string>:-x</string>
				<string>:-X</string>
				<string>:x</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Lips are Sealed</string>
		</dict>
		<key>Money-mouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:$</string>
				<string>$)</string>
				<string>:-$</string>
				<string>$-)</string>
				<string>($_$)</string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>Sarcastic.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(sarc)</string>
				<string>&lt;/sarcasm&gt;</string>
				<string>^)</string>
				<string>(o_O)</string>
			</array>
			<key>Name</key>
			<string>Sarcastic</string>
		</dict>
		<key>ohnoes.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>D:</string>
			</array>
			<key>Name</key>
			<string>Oh Noes!</string>
		</dict>

		<key>Sick.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:[[</string>
				<string>(sick)</string>
				<string>(-__-)</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string>(^_^)</string>
				<string>^_^</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Sticking Out Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:P</string>
				<string>:-p</string>
				<string>:-P</string>
				<string>:p</string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>Pirate.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>P-[</string>
			</array>
			<key>Name</key>
			<string>Pirate</string>
		</dict>
		<key>Undecided.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:\</string>
				<string>:/</string>
				<string>:-\</string>
				<string>:-/</string>
				<string>(=_=)</string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>Thumbs Down.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(N)</string>
				<string>(n)</string>
				<string>(-_-)p</string>
			</array>
			<key>Name</key>
			<string>Thumbs Down</string>
		</dict>
		<key>Thumbs Up.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(Y)</string>
				<string>(y)</string>
				<string>(^_^)d</string>
			</array>
			<key>Name</key>
			<string>Thumbs Up</string>
		</dict>
		<key>Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string>(^_-)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
