<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry-Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-P</string>
				<string>&gt;:P</string>
				<string>&gt;:-p</string>
				<string>&gt;:p</string>
			</array>
			<key>Name</key>
			<string>Angry Tongue</string>
		</dict>
		<key>Angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-(</string>
				<string>&gt;:(</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Blushing.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-]</string>
				<string>:]</string>
				<string>:-`</string>
			</array>
			<key>Name</key>
			<string>Blushing</string>
		</dict>
		<key>Confused.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-?</string>
				<string>:?</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Cool.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B-)</string>
				<string>B)</string>
				<string>8-)</string>
				<string>8)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>Crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'-(</string>
				<string>:'(</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Embarrassed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>Evil.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-D</string>
				<string>&gt;:D</string>
			</array>
			<key>Name</key>
			<string>Evil</string>
		</dict>
		<key>Frown.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>Gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-o</string>
				<string>:o</string>
				<string>:-O</string>
				<string>:O</string>
				<string>=-o</string>
				<string>=-O</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>Grimmace.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>X-(</string>
				<string>x-(</string>
				<string>X(</string>
				<string>x(</string>
			</array>
			<key>Name</key>
			<string>Grimmace</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Grinning-Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-D</string>
				<string>;D</string>
			</array>
			<key>Name</key>
			<string>Grinning Wink</string>
		</dict>
		<key>Innocent.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>O:)</string>
				<string>o:-)</string>
				<string>o:)</string>
				<string>0:-)</string>
				<string>0:)</string>
			</array>
			<key>Name</key>
			<string>Innocent</string>
		</dict>
		<key>Kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Lips-Are-Sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-X</string>
				<string>:-x</string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>Mischievous.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-)</string>
				<string>&gt;:)</string>
			</array>
			<key>Name</key>
			<string>Mischievous</string>
		</dict>
		<key>Money-Mouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
			</array>
			<key>Name</key>
			<string>Money Mouth</string>
		</dict>
		<key>Not-Amused.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-|</string>
				<string>&gt;:|</string>
				<string>&gt;:-I</string>
				<string>&gt;:I</string>
			</array>
			<key>Name</key>
			<string>Not Amused</string>
		</dict>
		<key>Oops.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Name</key>
			<string>Oops</string>
		</dict>
		<key>Shouting.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-O</string>
				<string>&gt;:O</string>
				<string>&gt;:-o</string>
				<string>&gt;:o</string>
				<string>:-@</string>
				<string>:@</string>
				<string>&gt;:-@</string>
				<string>&gt;:@</string>
				<string>&gt;:-V</string>
				<string>&gt;:V</string>
				<string>:-V</string>
				<string>:V</string>
			</array>
			<key>Name</key>
			<string>Shouting</string>
		</dict>
		<key>Sleeping.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>|-)</string>
				<string>I-)</string>
				<string>I-|</string>
				<string>|-|</string>
				<string>|-*</string>
				<string>|-*</string>
				<string>|-.</string>
				<string>|-.</string>
			</array>
			<key>Name</key>
			<string>Sleeping</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Smirk.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-&gt;</string>
				<string>:&gt;</string>
			</array>
			<key>Name</key>
			<string>Smirk</string>
		</dict>
		<key>Straight-Faced.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-|</string>
				<string>:|</string>
				<string>:-I</string>
				<string>:I</string>
			</array>
			<key>Name</key>
			<string>Straight Faced</string>
		</dict>
		<key>Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:P</string>
				<string>:-p</string>
				<string>:p</string>
			</array>
			<key>Name</key>
			<string>Tongue</string>
		</dict>
		<key>Undecided.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:\</string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>Wink-Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-P</string>
				<string>;P</string>
				<string>;-p</string>
				<string>;p</string>
			</array>
			<key>Name</key>
			<string>Wink Tongue</string>
		</dict>
		<key>Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
