@import "../base.css";

.container, .container_context {
	margin: 0px 36px 0px 12px;
}

.buddyicon_div_incoming {
	float:right;
}

.buddyicon_div_outgoing {
	float:right;
}

.arrow_incoming {
	right:33px;
	
	background: url("../images/arrow_right.png");
}

.arrow_outgoing {
	right:33px;
	
	background: url("../images/arrow_right.png");
}

.arrow_context_incoming {
	right:33px;
	
	background: url("../images/context_arrow_right.png");
}

.arrow_context_outgoing {
	right:33px;
	
	background: url("../images/context_arrow_right.png");
}